dist: trusty
sudo: required
services:
- docker
language: go
go:
- "1.12.x"
    
install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh
- make tools

stages:
- test
- name: build
  if: branch = master AND type != pull_request
- name: release
  if: branch = master AND \
      tag IS present \
      tag ~= /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/

jobs:
  allow_failures:
    - script: make lint
  include:     
    - stage: test
      script: make lint
      env:
        - MODE=linters
    - script: make test
      env: 
        - MODE=unit-tests
    - script: make testacc
      if: branch = master
      env: 
        - MODE=acceptance-tests
    - stage: build
      script: make build
      
matrix:
  fast_finish: true
  allow_failures:
    - go: tip
