dist: trusty
sudo: required
services:
- docker
language: go
go:
- "1.12.x"

cache:
  directories:
    - $HOME/.cache/go-build
    - $HOME/gopath/pkg/mod
    
install:
# This script is used by the Travis build to install a cookie for
# go.googlesource.com so rate limits are higher when using `go get` to fetch
# packages that live there.
# See: https://github.com/golang/go/issues/12933
- bash scripts/gogetcookie.sh

stages:
- prime cache
- test
- name: acceptance test
  if: branch = master AND type != pull_request
- name: build
  if: branch = master AND type != pull_request
- name: release
  if: branch = master AND \
      tag IS present \
      tag ~= /^([0-9]+)\.([0-9]+)\.([0-9]+)(?:-([0-9A-Za-z-]+(?:\.[0-9A-Za-z-]+)*))?(?:\+[0-9A-Za-z-]+)?$/

jobs:
  include:
    - stage: prime cache
      script: make cache      
    - stage: test
      script: make test
      env: 
        - MODE=unit-tests
    - script: make lint
      env:
        - MODE=linters
    - stage: acceptance test
      script: make testacc
      
matrix:
  fast_finish: true
  allow_failures:
    - go: "1.12.x"
      env: MODE=linters
